/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*** Common ***/
html {
  height: 100%;
}
body {
  height: 100%;
}

body.dark .roster {
  background-color: #293143;
  border-right: 1px solid #212936;
}

body.dark .roster-item {
  color: #fff;
}

body.light .roster{
  border-right: 1px solid #d3d3d3;
  background-color: #ECF0F1;
}

body.light .roster-item {
  color: #2B2F32;
}

body.dark .header {
  background-color: #293143;
  border-bottom: 1px solid #212936;
}

body.dark .header__logo {
  background-color: #212936;
}

body.dark .control__theme {
  background-color: #293143;
}

body.light .header {
  background-color: #ECF0F1;
  border-bottom: 1px solid #d3d3d3;
}

body.light .header__logo {
  background-color: #ABB7B7;
}

body.light .control__theme {
  background-color: #ECF0F1;
}
