.roster {
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.1s;
}

.roster-list {
  padding: 20px 0 0 30px;
}

.roster-item {
  margin-bottom: 20px;
  font: 16px Verdana, sans-serif;
}
